<h1>Listing letters</h1>

<table>
    <tr>
	<th>ID</th>
        <th>Title</th>
    </tr>

    <% @letters.each do |letter| %>
        <tr>
            <td> <a href="letters/<%= letter.id%>"><%= letter.id%></a> </td>
            <td> <a href="letters/<%= letter.id%>"><%= letter.title%></a> </td>
        </tr>
    <% end %>
</table>

<%= link_to 'New Letter', new_letter_path%>
