<p>
    <strong>Title:</strong>
    <%= @letter.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @letter.text %>
</p>


<%= link_to 'Home', controller: 'welcome'%>
<%= link_to 'Latters Wall', letters_path%>
<%= link_to 'New Letter', new_letter_path%>
